@import "tailwindcss";

@theme {
  --color-brand-dark: #050505;
  --color-brand-pink: #ff0055;
  --color-brand-yellow: #ffaa00;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

html {
  scroll-behavior: smooth;
}